body {
    background-color: rgb(50, 50, 55);
}

header {
    color: whitesmoke;
}

body {
    margin-left: 5%;
}
/*
#exercise {
    color: azure;
    margin: 1%;
    margin-bottom: 4%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: solid wheat
}
/*border: solid 2px red;*/

#addExerciseButton {
    margin: 0px;
}


#exerciseContainer > div {
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

/* Every component in an exercise */
#exerciseContainer > div > input, #exerciseContainer > div > button {
    height: 2em;
}

.exercise {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    border: solid 1px gainsboro;
    
}

.exerciseComponent {
    height: 2em; /* 2x storleken på fonten */
}

#setBlueprint {
    display: none;
}

#exerciseBlueprint {
    display: none;
}
