body {
    background-color: rgb(50, 50, 55);
}

header {
    color: whitesmoke;
}

body {
    margin-left: 5%;
}

#addExerciseButton {
    margin: 0px;
}


/* Every exercise */
#exerciseContainer > div {
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    border: solid 3px whitesmoke;
    padding: 0.3%;
}

#exerciseContainer > div > #exercise-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#exerciseContainer > div > #deleteExerciseButton {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    font-size: 120%;
    
}

/* Every component in an exercise */
#exerciseContainer > div > #exercise-content > input, 
#exerciseContainer > div > #exercise-content > button {
    height: 2em;
}

#setBlueprint {
    display: none;
}

#exerciseBlueprint {
    display: none;
}

#userHandling {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5%;
}

#signOutButton {
    margin-top: 5%;
}



