body {
    background-color: rgb(50, 50, 55);
}

header {
    color: whitesmoke;
}

body {
    margin-left: 5%;
}

#addExerciseButton {
    margin: 0px;
}

/* Every exercise */
#exerciseContainer > div {
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border: solid 3px whitesmoke;
    padding: 0.3%;
}

/* Every component in an exercise */
#exerciseContainer > div > input, #exerciseContainer > div > button {
    height: 2em;
}

#setBlueprint {
    display: none;
}

#exerciseBlueprint {
    display: none;
}