.setList {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;      
}

.details {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

.details > * {
    align-self: center;
    width: 100%;
}

.inputs {
    display: flex;
    
}

/* .deleteButton {
    margin-top: 10px;
    font-size: large;
    height: 7vh;
} */

.details > * > input[type=text] {
    height: 4vh;
    width: 70%;
}

.details > * > input[type=submit] {
    height: 4.5vh;
    width: 30%;
}

.details > input {
    width: 98.4%;
}


.card > button {
    /* font-size: x-small; */
    /* height: 50%; */
}


.card > * {
    /* width: 20%; */
    font-size: small;      
}

.card > sub {
    font-size: x-small;
    
}

.timeInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.setInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.deleting {
    display: flex;
    flex-direction: column; 
    min-width: 0;   
    /* margin: 0;
    padding: 0;  */
    width: 100%;
    
}

.deleting > * {    
    font-size: small;    
    height: 25%;
    width: 100%;
    overflow: hidden;
}

.notDeleting {
    height: 50%;
    width: 30%;
}

.card {
    display: flex;
    width: 90%;
    height: auto;
}

.card > div {
    
    min-width: 0;
}

.timeInputs, .setInputs {
    display: flex;
    margin: 0;
    padding: 0;
}

.timeInputs input, .setInputs input {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.notDeleting button {
    
}

.tabs > * {
    width: 50%;
}
