.setList {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;      
}

.details {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

.details > * {
    align-self: center;
    width: 100%;
}

.inputs {
    display: flex;
    
}

.details > button {
    font-size: x-large;
}

.details > * > input[type=text] {
    height: 4vh;
    width: 70%;
}

.details > * > input[type=submit] {
    height: 4.5vh;
    width: 30%;
}

.details > input {
    width: 98.4%;
}

.card > * {
    height: 2rem;

}

.card > input,
.card > button {
    width: 20%;
    font-size: small;      
}

.card > p,
.card > sub {
    font-size: 50%;
}

.card > sub {
    font-size: small;
    
}