@import "./HomeView.css";

.card {
    
    display: flex;
    align-items: center;
    justify-content: center;

    /*align-content: end;*/
    font-size: x-large;       
    padding: 2%;
    /* display: inline-block;     */
    /* max-width: 100%; */

    text-align: center;    
    align-content: center;
    
    width: 90%;
    margin: 5px;    
    height: 7vh;
    

    border: solid;
    border-color: lightblue;
    border-radius: 2%;

}


input {
    background: transparent;
    border: solid 1px;
    border-color: lightblue;
    color: lightblue;
}
/* input[type=submit] {
    color: lightblue;
} */

.exerciseList {
    display: flex;
    flex-direction: column;
}

body {
    /*background-color: var(--bajs);*/ 

    --bgcolor: rgb(30, 30, 60);
    background-color: rgb(30, 30, 60);
    color: lightblue;
            
    font-family: Arial, Helvetica, sans-serif;
    
} 

button {
    background-color: lightblue;    
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: lightblue;
    border-radius: 2%;    
    border: solid;

    /* margin-top: 30px; */ /* COMMENTED OUT TO FIX HEADER */
    align-self: center;
    font-size: x-large;
    height: 10vh;
    /* width: 50%; */

}


.addButton {    
    background-color: lightblue;
    color: var(--bgcolor);  

}
